.Header{
   justify-content:space-between;
   align-items:center;
}

.Header > .title{
   font-size: 26px;
   font-weight: bold;
   color: var(--header-title-color);
}

.toggleBtn{
   background-color: transparent; 
   border: none;
   outline: none;
   display:flex;
   align-items: center;
}

.toggleBtn> .btnText{
   font-size: 13px;
   letter-spacing: 2.5px;
   font-weight: bold;
   color: var(--toggleBtnText-color);
   margin-right:18px;
}

.toggleBtn img{
   opacity: 0.8;
}

.toggleBtn img:hover{
   opacity: 1;
}

.toggleBtn> .btnText:hover{
   color: #4591e7;
}

