:root {
  --light-mode-bgcolor: #f6f8ff;
  --light-mode-textcolor: #4b6a9b;
  --dark-mode-bgcolor: #141d2f;
  --dark-mode-textcolor: #fff;
  --buttonmode: url("/public/icons/icon-moon.svg");
}

.App {
  text-align: center;
  justify-content: center;
}

.App > .app-content {
  width: 730px;
}

.dark-mode {
  background-color: var(--dark-mode-bgcolor);
  color: var(--dark-mode-textcolor);
  --buttonmode: url("/public/icons/icon-sun.svg");
}

.light-mode {
  background-color: var(--light-mode-bgcolor);
  color: var(--light-mode-textcolor);
}

button {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
   /* For tablets: */
   .App > .app-content {
      width: 573px;
   }
}

@media screen and (min-width: 375px) and (max-width: 620px) {
   /* For mobile phones: */
   .App > .app-content {
      width: 327px;
   }
}
